body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
a:hover,a:focus{
    text-decoration: none;
}
button:hover,button:focus,a:hover,a:focus{
    outline: none;
}
.form-control:focus{
    outline: none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
input::-moz-placeholder,textarea::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
input:-moz-placeholder,textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}
.single {
    position: relative;
    display: inline-block;
    -webkit-transition: all .6s cubic-bezier(.38,0,.32,1);
    -moz-transition: all .6s cubic-bezier(.38,0,.32,1);
    -ms-transition: all .6s cubic-bezier(.38,0,.32,1);
    -o-transition: all .6s cubic-bezier(.38,0,.32,1);
    transition: all .6s cubic-bezier(.38,0,.32,1);
    -webkit-transform: translateX(10vw) translateZ(0);
    -moz-transform: translateX(10vw) translateZ(0);
    -ms-transform: translateX(10vw) translateZ(0);
    -o-transform: translateX(10vw) translateZ(0);
    transform: translateX(10vw) translateZ(0);
    opacity: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    font-weight: 700;
}
.slick-current .single {
    -webkit-transform: translateX(0) translateZ(0);
    -moz-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    -o-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    opacity: 1;
}
.slick-dots{
    text-align: center;
    padding: 0;
}
.slick-dots li{
    display: inline-block;
}
.top-section{
    background: #ff764b;
    background: -moz-linear-gradient(left, #ff764b 0%, #ff515f 100%);
    background: -webkit-linear-gradient(left, #ff764b 0%,#ff515f 100%);
    background: linear-gradient(to right, #ff764b 0%,#ff515f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff764b', endColorstr='#ff515f',GradientType=1 );
    min-height: 100%;
    padding: 20px 0 60px 0;
}
.top-slider h2{
    color: #fff;
    font-size: 45px;
    letter-spacing: -5px;
}
.top-slider p{
    -webkit-transition: all 1s cubic-bezier(.38,0,.32,1);
    -moz-transition: all 1s cubic-bezier(.38,0,.32,1);
    -ms-transition: all 1s cubic-bezier(.38,0,.32,1);
    -o-transition: all 1s cubic-bezier(.38,0,.32,1);
    transition: all 1s cubic-bezier(.38,0,.32,1);
    -webkit-transform: translateY(20vw) translateZ(0);
    -moz-transform: translateY(20vw) translateZ(0);
    -ms-transform: translateY(20vw) translateZ(0);
    -o-transform: translateY(20vw) translateZ(0);
    transform: translateY(20vw) translateZ(0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    color: #fff;
}
.slick-current  p{
    -webkit-transform: translateY(0vw) translateZ(0);
    -moz-transform: translateY(0vw) translateZ(0);
    -ms-transform: translateY(0vw) translateZ(0);
    -o-transform: translateY(0vw) translateZ(0);
    transform: translateY(0vw) translateZ(0);
}

.top-slider img {
    max-width: 100%;
    max-height: 100%;
    float: right;
    position: relative;
    -webkit-transition: all 1s cubic-bezier(.38,0,.32,1);
    -moz-transition: all 1s cubic-bezier(.38,0,.32,1);
    -ms-transition: all 1s cubic-bezier(.38,0,.32,1);
    -o-transition: all 1s cubic-bezier(.38,0,.32,1);
    transition: all 1s cubic-bezier(.38,0,.32,1);
    -webkit-transform: translateX(20vw) translateZ(0);
    -moz-transform: translateX(20vw) translateZ(0);
    -ms-transform: translateX(20vw) translateZ(0);
    -o-transform: translateX(20vw) translateZ(0);
    transform: translateX(20vw) translateZ(0);

}
.col-md6{
    width: 50%;
    float: left;
}
.slick-current  img{
    -webkit-transform: translateX(0vw) translateZ(0);
    -moz-transform: translateX(0vw) translateZ(0);
    -ms-transform: translateX(0vw) translateZ(0);
    -o-transform: translateX(0vw) translateZ(0);
    transform: translateX(0vw) translateZ(0);
}
.fp-section {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.slick-current .fp-section {
    visibility: visible;
    opacity: 1;
}
.slick-slide{
    position: relative;
    padding: 6% 0;
}
.slick-slide:focus{
    outline: none;
}
.wrapper{
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.text-cont{
    position: relative;
    z-index: 4;
}
.get-in-touch-btn{
    display: inline-block;
    padding: 10px 30px;
    color: #ff6057;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fff;
    transition: all 1.3s cubic-bezier(.38,0,.32,1);
    transform: translateY(20vw) translateZ(0);
    transition-delay: 0s;
}
.slick-current  .get-in-touch-btn{
    transform: translateY(0vw) translateZ(0);
}
.slick-dots li button{
    font-size: 0;
    padding: 3px 10px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0 5px;
}
.slick-dots li.slick-active button{
    opacity: 1;
}
header .header-logo{
    width: 110px;
}
.top-menu li a{
    color: #fff;
    display: inline-block;
    padding-left: 40px;
}
.top-menu li:first-child a{
    padding-left: 0;
}
.white-banner{
    background-color: #fff;
    text-align: center;
    padding: 30px;
    position: relative;
    top: -50px;
}
.services-section{
    background-color: #f8f9fc;
    padding-bottom: 50px;
}
.services-section h2{
    margin-bottom: 0;
}
.services-section img{
    max-width: 270px;
    /*animation: scaling 7s linear infinite;*/
}
/*@keyframes scaling {*/
/*    0% {*/
/*        -webkit-transform: scale(1);*/
/*        -moz-transform: scale(1);*/
/*        -ms-transform: scale(1);*/
/*        -o-transform: scale(1);*/
/*        transform: scale(1);*/
/*    }*/
/*    50% {*/
/*        -webkit-transform: scale(1.05);*/
/*        -moz-transform: scale(1.05);*/
/*        -ms-transform: scale(1.05);*/
/*        -o-transform: scale(1.05);*/
/*        transform: scale(1.05);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: scale(1);*/
/*        -moz-transform: scale(1);*/
/*        -ms-transform: scale(1);*/
/*        -o-transform: scale(1);*/
/*        transform: scale(1);*/
/*    }*/
/*}*/
.services-section h3{
    font-size: 25px;
    position: relative;
    padding-top: 12px;
    margin-bottom: 20px;
}
.services-section h3:before{
    content: ' ';
    width: 120px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6f4f;
}
.d-flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.h100{
    height: 100%;
}
.img-cont{
    min-height: 290px;
}
footer{
    background-color: #020015;
    padding: 40px 0;
    color: #c7c7c7;
}
.recent-projects,.contact-us{
    padding: 50px 0;
}
footer p{
    margin-top: 20px;
}
.item {
    width: 31%;
    /*height: 200px;*/
    float: left;
    margin: 0 1% 2% 1%;
    position: relative;
    /*min-height: 340px;*/

}
.all-items .item{
    display: none;
}
.all-items .item:nth-child(-n+12){
    display: block!important;
}
.item img{
    max-width: 100%;
}



#filters li .selected {
    background: #ff575c;
    color: white;
    border-color: #ff575c;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}
#filters{
    padding-top: 20px;
}
#filters li{
    margin: 5px;
}
#filters li a{
    display: inline-block;
    color: #202020;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#container{
    margin-left: -10px;
    margin-right: -10px;
}
.contact-form-box{
    max-width: 780px;
    margin: 0 auto;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 14px;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    transition: .2s;
    border: 1px solid #ced4da;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 11px;
    height: 15px;
    background: transparent;
    transition: .2s;
    border-left: 2px solid #ff545d;
    border-bottom: 2px solid #ff545d;
    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    transform: rotate(-29deg);
    opacity: 0;
}
.checkbox:checked + label:before {
    background: transparent;
}
.checkbox:checked + label:after {
    left: 4px;
    opacity: 1;
}
.checkbox-content{
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.contact-form-box .row{
    margin-bottom: 20px;
}
.contact-form-box textarea{
    height: 200px;
    resize: none;
}
.contact-form-box button{
    background: #ff764b;
    background: -moz-linear-gradient(left, #ff764b 0%, #ff515f 100%);
    background: -webkit-linear-gradient(left, #ff764b 0%,#ff515f 100%);
    background: linear-gradient(to right, #ff764b 0%,#ff515f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff764b', endColorstr='#ff515f',GradientType=1 );
    color: #fff;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: table;
    margin: 0 auto 30px;
    font-size: 20px;
    padding: 7px 65px;
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 15px;
}
.item-content:hover .item-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.item-overlay .view-website{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #000;
    padding: 10px 20px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    white-space: nowrap;
}
.item-overlay .view-website:hover{
    background-color: rgba(255,255,255,1);
    color: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.project-tags{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.project-tags span{
    display: inline-block;
    font-size: 11px;
    background: #fff;
    padding: 3px 10px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
}
.item-content{
    position: relative;
    overflow: hidden;
}
.item-overlay h2{
    font-size: 18px;
    color: #fff;
}
#loadMore{
    display: inline-block;
    margin: 20px auto;
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
}
body .filter-content.all-items #container{
    height: 1500px!important;
}
.fp-section,.fp-section div{
    height: 100%;
}
.project-website{
    padding-top: 83%;
    background-size: contain;
    background-repeat: no-repeat;
}